@charset "UTF-8";
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding: 82px 220px;
  width: 1440px;
  background: #2B3040;
  position: relative;
}
.container .container__content {
  margin: 0 auto;
  padding: 154px 200px;
  width: 1000px;
  position: relative;
}
.container .container__content .container__content-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../img/background.png);
  background-position: center;
  background-size: 100%;
}
.container .container__content .container__content-backgroundCov {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(41, 45, 62, 0.8);
}
.container .container__content .game__info {
  width: 600px;
  height: 552px;
  position: relative;
  z-index: 1;
}
.container .container__content .game__info .options {
  padding: 28px 50px;
  width: 100%;
  height: 120px;
  background: #2B3040;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .container__content .game__info .options .item {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}
.container .container__content .game__info .options .item .logo {
  margin-bottom: 15px;
  width: 24px;
  height: 22px;
}
.container .container__content .game__info .options .item .image__element,
.container .container__content .game__info .options .item .image__element--fill {
  transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
}
.container .container__content .game__info .options .item .text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-family: "Lato";
  font-style: normal;
  text-transform: uppercase;
  color: #8D91A3;
  transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
}
.container .container__content .game__info .options .item:hover .image__element {
  stroke: white;
}
.container .container__content .game__info .options .item:hover .image__element--fill {
  fill: white;
}
.container .container__content .game__info .options .item:hover .text {
  color: white;
}
.container .container__content .game__info .options .item:focus .image__element {
  stroke: white;
}
.container .container__content .game__info .options .item:focus .image__element--fill {
  fill: white;
}
.container .container__content .game__info .options .item:focus .text {
  color: white;
}
.container .container__content .game__info .card {
  padding: 60px 40px;
  width: 100%;
  background-color: #212534;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}
.container .container__content .game__info .card.active {
  display: flex;
}
.container .container__content .game__info .card .left {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .container__content .game__info .card .left .poster {
  margin-bottom: 25px;
}
.container .container__content .game__info .card .left .rating {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .container__content .game__info .card .left .rating .rating__star {
  cursor: pointer;
}
.container .container__content .game__info .card .left .rating .rating__star .rating__star--fill {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.container .container__content .game__info .card .left .rating .rating__star + .rating__star {
  margin-left: 10px;
}
.container .container__content .game__info .card .text__info {
  width: 319px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .container__content .game__info .card .text__info .description {
  margin-bottom: 50px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.container .container__content .game__info .card .text__info .description .circle {
  top: 0;
  right: 0;
  width: 75px;
  height: 75px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .container__content .game__info .card .text__info .description .circle .circle__empty {
  position: absolute;
}
.container .container__content .game__info .card .text__info .description .circle .circle__fill {
  position: absolute;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.container .container__content .game__info .card .text__info .description .circle .circle__value {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Lato";
  font-style: normal;
  text-align: center;
  color: #B7BACD;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.container .container__content .game__info .card .text__info .description .description__title,
.container .container__content .game__info .card .text__info .description .description__note,
.container .container__content .game__info .card .text__info .description .description__text {
  font-weight: 400;
  font-family: "Lato";
  font-style: normal;
}
.container .container__content .game__info .card .text__info .description .description__title {
  margin: 15px 0;
  font-size: 32px;
  line-height: 32px;
  color: white;
}
.container .container__content .game__info .card .text__info .description .description__note {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  color: white;
}
.container .container__content .game__info .card .text__info .description .description__text {
  font-size: 14px;
  line-height: 22px;
  color: #B7BACD;
}
.container .container__content .game__info .card .text__info .purchase {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .container__content .game__info .card .text__info .purchase .purchase__price {
  margin-right: 50px;
}
.container .container__content .game__info .card .text__info .purchase .purchase__price .discount {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Lato";
  font-style: normal;
  color: #FFDD3F;
}
.container .container__content .game__info .card .text__info .purchase .purchase__price .price {
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  font-family: "Lato";
  font-style: normal;
  color: #FFFFFF;
}
.container .container__content .game__info .card .text__info .purchase .button {
  padding: 20px 30px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Lato";
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 0;
  background: #13E28D;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.container .container__content .game__info .card .text__info .purchase .button:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.container .container__content .game__info .card .text__info .purchase .button:active {
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
}

.display {
  opacity: 1;
}

.notShow {
  opacity: 0;
}/*# sourceMappingURL=app.css.map */